<section id="blueprint" class="gray-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="content editable">
          <img src="/img/Google_RamiMethod_bookcover.png" class="img-responsive">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="content editable">
          <h1>The Rami Method Blueprint</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <a href="https://tbeck.gitbooks.io/the-redirect-method/content/" class="btn btn-primary btn-block">View the blueprint on gitbooks</a>
          <p>Download the PDF version <a href="https://www.gitbook.com/book/tbeck/the-redirect-method/details" class="underline">here</a></p>
        </div>
      </div>
    </div>
  </div>
</section>