<section class="gray-light bg-constellation">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h2 class="editable">
            Engage &amp; Collaborate
          </h2>
          <div class="editable">
            <p>Recruitment narratives are tailored to specific audiences and evolve quickly. We&rsquo;re interested in other approaches and findings into the main drivers of recruitment videos, and the counter-points that can be found in videos uploaded by others online. We&rsquo;re also eager to hear about relevant keywords and insights that would help others replicate the Method. If you conduct relevant research, manage YouTube channels and AdWords campaigns, want to fund other iterations of the method, or can contribute in other ways, please get in touch.</p>
          </div>
          <p>
            <a class="btn gray-dark" href="mailto:Contact@RedirectMethod.com" target="_top">Connect with us</a>
            <a class="btn gray-dark" href="{{ site.gitbook_url }}/discussions/">Contribute</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
