<section class="gray-light bg-constellation">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h2 class="editable">Engage &amp; Collaborate</h2>
          <div class="editable">
            <p>Recruitment narratives are tailored to specific audiences, and evolve quickly. We’re interested in other approaches and findings into the main drivers of recruitment videos, and the counter-points that can be found in videos uploaded by others online. We’re also eager to hear about relevant keywords and insights that would help others replicate the Method.</p>
            <p>If you check the following capability criteria, consider contributing to the pilot: conduct or commission research; manage YouTube channel and Adwords campaigns; funding (to buy ads, and for any commissioned research). If you focus in one of the criteria areas, then please reach out and we will try to pair you with other experts interested in replicating the pilot. If you have any insights and resources — e.g. useful research, a relevant video, funding — then, again, please let us know and we’d like to leverage this in future campaigns.</p>
          </div>
          <p>
            <a class="btn gray-dark" href="mailto:Contact@RedirectMethod.com" target="_top">Connect with us</a>
            <a class="btn gray-dark" href="{{ site.gitbook_url }}/discussion/">Contribute</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>