<footer id="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <div class="content">
          <ul>
            <li><a href="{{ site.baseurl }}">Context</a></li>
            <li><a href="{{ site.baseurl }}/#what-is-rami">Guiding Principles</a></li>
            <li><a href="{{ site.baseurl }}/#team">Team</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="content">
          <ul class="pilot-footer-nav">
            <li><a href="{{ site.baseurl }}/pilot">Pilot</a></li>
            <li><a href="{{ site.baseurl }}/pilot?research" >Research</a></li>
            <li><a href="{{ site.baseurl }}/pilot?curation">Curation</a></li>
            <li><a href="{{ site.baseurl }}/pilot?targeting">Targeting</a></li>
            <li><a href="{{ site.baseurl }}/pilot?measurement">Measurement</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4">
        <div class="content">
          <ul>
            <li><a href="{{ site.baseurl }}/blueprint#intro">The Rami Method Blueprint</a></li>
            <li><a href="{{ site.baseurl }}/blueprint#engage">Engage &amp; Collaborate</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6 col-sm-2">
        <div class="content">
          <ul>
            <li><a href="{{ site.baseurl }}/qa">Q&amp;A</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="footer-bar" class="gray-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="content">
            <a href="#" class="download">Download Full Rami Method PDF</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="content">
            <span class="year">&copy;2016 The Rami Method</span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="content">
            <a id="top" href="#page-header">Back to Top</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>