<footer id="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <div class="content">
          <ul>
            <li><a href="{{ site.baseurl }}">About</a></li>
            <li><a href="{{ site.baseurl }}/#guiding-principles">Guiding Principles</a></li>
            <li><a href="{{ site.baseurl }}/#team">Team</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="content">
          <ul>
            <li><a href="{{ site.baseurl }}/pilot/">Pilot</a></li>
            <li><a href="{{ site.baseurl }}/pilot/#research" >Research</a></li>
            <li><a href="{{ site.baseurl }}/pilot/#curation">Curation</a></li>
            <li><a href="{{ site.baseurl }}/pilot/#targeting">Targeting</a></li>
            <li><a href="{{ site.baseurl }}/pilot/#results">Results</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4">
        <div class="content">
          <ul class="editable">
            <li><a href="{{ site.baseurl }}/blueprint/">Blueprint</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6 col-sm-2">
        <div class="content">
          <ul>
            <li><a href="{{ site.baseurl }}/qa/">Q&amp;A</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="footer-bar" class="gray-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="content">
            <a href="{{ site.baseurl }}/uploads/TheRedirectMethod-PDF.pdf" class="download">Download Full Redirect Method PDF</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="content">
            <span class="year">&copy;2016 The Redirect Method</span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="content">
            <a id="top" href="#page-header">Back to Top</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>