<footer id="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <ul>
          <li><a href="{{ site.baseurl }}/">Context</a></li>
          <li><a href="#">About the Rami Method</a></li>
          <li><a href="#">Guiding Principles</a></li>
          <li><a href="#">Team</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul>
          <li><a href="{{ site.baseurl }}/pilot">Pilot</a></li>
          <li><a href="#">About the Rami Method</a></li>
          <li><a href="#">Guiding Principles</a></li>
          <li><a href="#">Team</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul>
          <li><a href="{{ site.baseurl }}/qa">Q&amp;A</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul>
          <li><a href="{{ site.baseurl }}/blueprint">Blueprint</a></li>
          <li><a href="#">The Rami Method</a></li>
          <li><a href="#">Engage &amp; Collaborate</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="footer-bar" class="gray-dark">
    <div class="container">
      <span class="year">&copy;2016 The Rami Method</span>
      <a id="top" href="#page-header">Back to Top</a>
    </div>
  </div>
</footer>