<div id="page-header">
  <div id="mainnav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="mainnav-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Context</a></li>
          <li><a href="#">Pilot</a></li>
          <li><a href="#">Q &amp; A</a></li>
          <li><a href="#">Blueprint</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>