<div class="scroll-animate">
  <div class="mosaic-wrapper">
    <img src="/img/mosaic/ad2_250x250.jpg" data-horz="0" data-vert="31%" data-order="1">
    <img src="/img/mosaic/ad5_250x250.jpg" data-horz="37.5%" data-vert="0" data-order="2">
    <img src="/img/mosaic/ad1_250x250.jpg" data-horz="37.5%" data-vert="31%" data-order="3">
    <img src="/img/mosaic/ad3_250x250_b.jpg" data-horz="0%" data-vert="0%" data-order="4">
    <img src="/img/mosaic/ad4_250x250.jpg" data-horz="13%" data-vert="14%" data-order="5">

    <img src="/img/mosaic/arabic_ad_01.png" data-horz="34%" data-vert="40%" data-order="6">
    <img src="/img/mosaic/arabic_ad_02.png" data-horz="0" data-vert="49%" data-order="7">
    <img src="/img/mosaic/experiencing-the-caliphate_02.gif" class="video" data-order="8">
  </div>
</div>

