<div class="scroll-animate">
  <div class="mosaic-wrapper">
    <img src="/img/ad1_250x250.jpg" data-horz="50%" data-vert="0" data-order="1">
    <img src="/img/ad2_250x250.jpg" data-horz="0" data-vert="50%" data-order="2">
    <img src="/img/ad3_250x250_b.jpg" data-horz="25%" data-vert="25%" data-order="3">
    <img src="/img/ad4_250x250.jpg" data-horz="50%" data-vert="50%" data-order="4">
    <img src="/img/ad5_250x250.jpg" data-horz="0" data-vert="0" data-order="5">
    <img src="/img/experiencing-the-caliphate_02.gif" class="video" data-order="6">
  </div>
</div>

