<div role="tabpanel" id="research" class="tab-pane active fade in">

  <header class="section-header">
    <button class="subnav-trigger">Menu</button>
    <div class="container">
      <h1><span class="circle-number">1</span>Research</h1>
    </div>
  </header>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="content editable">
            <h3><i>Which online videos effectively discredit ISIS, and violent Islamism more generally, to an audience of potential sympathizers?</i></h3>
            <h2><em>What did we do?</em></h2>
            <p>Between August and September 2015, we worked with several research partners with knowledge of ISIS’s worldview and online materials in order to:</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="content">
            <p><img class="img-responsive" src="{{ site.baseurl }}/img/infographics/graphic-research.svg" style="max-height: 120px;"/></p>
            <p class="editable">
              Interview ISIS defectors and once-aspiring ‘jihadi brides’ to glean insights into our audience’s online behaviors.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="content">
            <p><img class="img-responsive" src="{{ site.baseurl }}/img/infographics/graphic-map.svg" style="max-height: 120px;"/></p>
            <p class="editable">
              Map the major narratives ISIS uses to draw people in and mobilize them to action.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="content">
            <p><img class="img-responsive" src="{{ site.baseurl }}/img/infographics/graphic-survey.svg" style="max-height: 120px;"/></p>
            <p class="editable">
              Survey YouTube for existing videos that are effective at countering those narratives.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <div class="editable">
              <h2><em>What did we find?</em></h2>
              <p class="editable">
                We found an abundance of videos to support our project and our focus of the research was on seeking out videos that appeared to be neutral in intention--including documentaries or citizen journalist footage that portray the world as the creators found it, rather than materials that appear specifically designed to counter ISIS. To get there, we used keyword searches to identify “hidden” counter-argument content -- that is, videos that are not necessarily well known, and often that were not designed with the explicit intention of refuting ISIS. We also found that video content featuring prominent individuals whose contributions deliberately contradict ISIS’s messaging were also helpful.
              </p>
            </div>
            <div class="slider-wrapper">
              <div class="slider">
                <div class="slider-row"></div>
              </div>
            </div>
            <div class="editable">
              <h2><em>What did we learn?</em></h2>
              <h3><i>We identified 5 ISIS recruitment narratives that are recurring in ISIS’s official media:</i></h3>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <img src="/img/icons/icon-governance.svg" class="img-responsive editable" alt="Governance Icon">
              </div>
              <div class="col-sm-10">
                <div class="content editable">
                  <p><strong>&middot; Good Governance</strong> ISIS showcases not only its bureaucratic structure and provision of social services, but also its harsh implementation of sharia.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <img src="/img/icons/icon-military.svg" class="img-responsive editable" alt="Military Icon">
              </div>
              <div class="col-sm-10">
                <div class="content editable">
                  <p><strong>&middot; Military Might</strong> A narrative designed to display ISIS&rsquo;s battlefield victories in order to portray it as an unstoppable force. The group depicts itself as possessing continuous momentum, and its message to its enemies is that they faced capture, torture, humiliation, and death.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <img src="/img/icons/icon-religious.svg" class="img-responsive editable" alt="">
              </div>
              <div class="col-xs-10">
                <div class="content editable">
                  <p><strong>&middot; Religious Legitimacy</strong> ISIS depicts its interpretation of Islam as the only authentic manifestation of the faith. ISIS argues that its alleged re-establishment of the caliphate made all competing states and organizations null and void under God&rsquo;s law.</p>
                </div>
              </div>
            </div>  
            <div class="row">
              <div class="col-sm-2">
                <img src="/img/icons/icon-flag.svg" class="img-responsive editable" alt="">
              </div>
              <div class="col-sm-10">
                <div class="content editable">
                  <p><strong>&middot; Call to Jihad</strong> Emphasizes the individual duty to either emigrate to the &ldquo;caliphate&rdquo; or carry out local terrorist attacks in ISIS&rsquo;s name. This messaging portrays ISIS fighters as heroes, their days as packed with action, camaraderie, and glory.</p>
                </div>
              </div>
            </div>  
            <div class="row">
              <div class="col-sm-2">
                <img src="/img/icons/icon-umma.svg" class="img-responsive editable" alt="">
              </div>
              <div class="col-sm-10">
                <div class="content editable">
                  <p><strong>&middot; Victimhood of the Umma</strong> (The umma is the worldwide body of Muslims) This narrative depicts outside powers conspiring to harm, subjugate, and disempower Muslims throughout the globe.</p>
                </div>
              </div>
            </div>
            <div class="editable">
              <h3><i>Content that effectively undermines ISIS does not always overtly attack ISIS.</i></h3>
              <p>We focused our survey on videos that were objective in appearance rather than materials that appeared specifically designed to counter ISIS. We used keyword searches to identify “hidden” counter-argument content -- that is, videos that are not necessarily well known, and often not designed explicitly to refute ISIS. The following major categories contain credible, authentic voices:</p>
            </div>
            <ul>
              <li>
                <div class="editable">
                  <p><strong>Citizen Journalism and Documentary Footage</strong> News content created by members of the general population, documentarians and journalists. This includes videos by those who reside in ISIS-controlled territory who document ISIS’s atrocities toward civilians and failed governance efforts. They portray the world as the creators found it.</p>
                </div>
                <div class="player" data-videos="b7H00OUf1lA,SPZT6hMNwZs,su3LRLR8m30"></div>
              </li>
              <li>
                <div class="editable">
                  <p><strong>Religious Debate</strong> Videos featuring clerics and other religious figures who refute violent extremist narratives, and seek to undercut ISIS’s religious legitimacy.</p>
                </div>
                <div class="player" data-videos="jE5qdLo9mCg,clkRvULSLQg,rvNupoSw_u8"></div>
              </li>
              <li>
                <div class="editable">
                  <p><strong>ISIS Defectors</strong> Videos highlighting the testimonies of ISIS defectors whose actual experiences undercut ISIS’s recruitment narratives, and reveal the group’s shortcomings and hypocrisy.</p>
                </div>
                <div class="player" data-videos="mtj3M_Bb0z8,9oVEKV0mSdw,HTC1H5ipFYg"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="section-footer">
    <div class="container">
      <a href="#curation" class="next">Next: Curation</a>
    </div>
  </footer>
</div>