<div role="tabpanel" id="targeting" class="tab-pane fade">
  <header class="section-header">
    <button class="subnav-trigger">Menu</button>
    <div class="container">
      <h1><span class="circle-number">3</span>Targeting</h1>
    </div>
  </header>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="content">
            <h3><i>How can we design ads and target keywords so that our campaign reaches individuals who are to some degree already sympathetic to ISIS?</i></h3>
            <h2><em>What did we do?</em></h2>
            <p>Both partners created an elaborate targeting framework that was continually refined throughout the 8-week pilot. For the Arabic campaigns, Quantum created 60 ad campaigns comprising 150 unique ads and over 1,500 keywords. For the English campaign, Moonshot CVE created 30 ad campaigns comprising 95 unique ads and over 1,000 keywords. The keyword generation was focused on terms suggesting positive sentiment towards ISIS.</p>
            <img id="infographic" src="/img/infographic-keyword.svg" class="img-responsive" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="content editable">
            <h3><em>How did we design the ads?</em></h3>
            <p>Moonshot CVE and Quantum Communications each created an AdWords advertising account in English and Arabic to house our ads and targeting criteria. The objective with the ads design was to anticipate and reflect the interests of the target audience. The designers involved in this campaign reviewed ISIS media material in order to understand its distinctive look and feel. <strong>The ad campaign comprised three formats:</strong></p>
            <ul>
              <li><strong>Text Ads</strong><br>A text ad includes a link to your website and a description or promotion of your product or service.</li>
              <li><strong>Image Ads</strong><br>These ads let you include relevant images, customized layouts, and background colors.</li>
              <li><strong>Video Ads</strong><br>Skippable video ads allow viewers to skip ads after 5 seconds, if they choose. Inserted before, during, or after the main video.</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="content">
            {% include mosaic-animation.html %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="content editable">
            <h3><em>How did we develop the keywords?</em></h3>
            <p>Our targeting strategy relied entirely on selecting a robust set of keywords that would allow us to reach our audience and mirror the content curated on the playlists. To generate the initial keywords (“seed keywords”) we worked with former violent extremists, researchers and online advertising specialists.</p>
            <p>The keyword generation was focused on terms suggesting positive sentiment towards ISIS, for instance:</p>
            <ul>
              <li>
                Supporter slogans (e.g. Baqiyah wa Tatamadad; Remaining & Expanding); deferential terms to describe ISIS (e.g. Al Dawla Al Islameyah vs. Daesh). We prioritized terms free of prejudice against ISIS — these terms are less likely to be used by the general public.
              </li>
              <li>
                Interest in ISIS-related news with a preference for ISIS’s oicial media outlets For this, we used the names of media sources with formal ties to ISIS e.g.Al-Furqan, Al-I'tisam, Al-Hayat, Amaq news agency, and Ajnad.
              </li>
              <li>
                Research into how to enlist in the terrorist group (e.g. How to join ISIS) or granular aspects of life under ISIS rule (e.g. building names in ISIS-controlled provinces known to host joiners and commanders, such as Ninawa Hotel).
              </li>
            </ul>
            <p>
              Our keyword creation work-stream combined qualitative human input with AdWords automated tools. The Keyword Planner tool was used to expand seed keyword lists, by allowing it to suggest relevant synonyms, variations, and additional keywords from the same cohort. For instance, the seed keyword “Al Furqan Foundation” led to suggestions like “Furqan Media Agency”, and “Al Itisam Media”.
            </p>

            <h3><em>How did we evolve during the campaign?</em></h3>
            <p>After the Pilot went live, the focus shifted to optimization. Targeting was improved by prioritizing keywords that indicated a nuanced understanding of ISIS narratives. For example, the phrase “What is jihad?” was supplemented with phrases such as “Fatwa for jihad in Syria”, “Mohamad Hassan Jihad Fatwa.”, “Ibn Taymiyah Fatwa”. </p>

            <p>Additions to the keyword lists reflected new developments in the conflict surrounding ISIS — for example, “Amaq News” was included as a keyword in March, 2016, when ISIS used the outlet to claim responsibility for the Brussels attacks.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="section-footer">
    <div class="container">
      <a href="#results" class="next">Next: Results</a>
    </div>
  </footer>
</div>