---
layout: pilot
title: The Pilot
---

<div class="tab-content">
  {% include research.html %}
  {% include curation.html %}
  {% include targeting.html %}
  {% include measurement.html %}
</div>

<script>


// check for hash in url, show correct tab if match
var hash = window.location.hash;
window.console.log('substring is', hash);
function checkHash(){
  $('.sidenav a').each(function(){
    var target_scroll = $('#pilot-presentation').offset();
    var href = $(this).attr('href');
    window.console.log(href);
    if($(this).attr('href') == hash){
      $('html, body').animate({scrollTop: target_scroll.top}, "slow");
      window.console.log('match');
      $(this).tab('show');
    }
  });
}

$(document).on('ready', function(){

  // sidenav stickit settings
  $('.sidenav').stickit({
    screenMinWidth: 992,
    scope: StickScope.Document,
    top: 40
  });


  var l = window.location.pathname + window.location.hash;
  window.history.pushState('', 'Pilot: ', l);

  $('.sidenav a').click(function (e) {
    e.preventDefault()
    var n = "Pilot"+$(this).text();
    var l = window.location.pathname + $(this).attr('href');
    window.history.pushState('', n, l);
    $(this).tab('show')
  })

  // check if sidenav is open on mobile, if it is, close it on click
  $('.sidenav a').on('shown.bs.tab', function (e) {
    var target_scroll = $('#pilot-presentation').offset();
    $('html, body').animate({scrollTop: target_scroll.top}, "slow");
    if($('.left-column').hasClass('open')){
      $('.left-column').removeClass('open');
    }
  })
  // scroll user back up to top of pilot presentation and show next slide
  $('.next').on('click', function(){
    var active_tab = $(this).attr('href');
    var target_scroll = $('#pilot-presentation').offset();
    $('html, body').animate({scrollTop: target_scroll.top}, "slow");
    window.console.log(active_tab);
    $('.sidenav a[href="'+ active_tab +'"]').tab('show')
  });

 

  checkHash();

  window.addEventListener("hashchange", function(e) {
    checkHash();
  })

  // scroll trigger for animation
  var $animation = $('#mosaic-wrapper');
  var $window = $(window);
  $window.on('scroll resize', check_if_in_view);
  $window.trigger('scroll');
  
  function check_if_in_view() {
    var window_height = $window.height();
    var window_top_position = $window.scrollTop();
    var window_bottom_position = (window_top_position + window_height);

    $.each($animation, function() {
      var $element = $(this);
      var element_height = $element.outerHeight();
      var element_top_position = $element.offset().top;
      var element_bottom_position = (element_top_position + element_height);

      //check to see if this current container is within viewport
      if ((element_bottom_position >= window_top_position) &&
          (element_top_position <= window_bottom_position)) {
        $element.addClass('in-view');
        $('#mosaic-wrapper.in-view img').each(function(){
          var order = $(this).data('order');
          var vertPos = $(this).data('vert');
          var horizPos = $(this).data('horz');
          var animationDelay = order + 0.5 + 's';
          $(this).removeClass('start').addClass('fadeIn');
          $(this).css({'top' : vertPos, 'left' : horizPos, 'animation-delay' : animationDelay, 'z-index' : order });
        });
      } else {
        $element.removeClass('in-view');
        $('#mosaic-wrapper img').removeClass('fadeIn').addClass('start');
      }
    });
  }
  
});
</script>