<div id="page-header">
  <div id="mainnav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="mainnav-collapse">
        <ul class="flexnav">
          <li {% if page.url =='/' %}class="active"{% endif %}><a href="{{ site.baseurl }}/">Context</a></li>
          <li {% if page.url =='/pilot/' %}class="active"{% endif %}><a href="{{ site.baseurl }}/pilot/">Pilot</a></li>
          <li {% if page.url =='/blueprint/' %}class="active"{% endif %}><a href="{{ site.baseurl }}/blueprint/">Blueprint</a></li>
          <li {% if page.url =='/qa/' %}class="active"{% endif %}><a href="{{ site.baseurl }}/qa/">Q &amp; A</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>