<div role="tabpanel" id="research" class="tab-pane active fade in">

  <header class="section-header">
    <button class="subnav-trigger">Menu</button>
    <div class="container">
      <h1><span class="circle-number">1</span>Research</h1>
    </div>
  </header>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <h2><em>Which online videos effectively discredit ISIS, and violent Islamism more generally, to an audience of potential sympathizers?</em></h2>
            <h1>What did we do?</h1>
            <p>We focused the research on a slice of ISIS’s audience that appeared particularly susceptible to the group’s message. We learned from interviews with ISIS defectors and failed aspirants — men, women and children — that all information sources do not carry equal weight. Media created by governments or Western news outlets is often rejected on face value because it is assumed to be promoting an anti-Muslim agenda.</p>
            <p>We worked with several research partners with knowledge of ISIS’s worldview and online materials to do two things:</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="content">
            <img src="img/graphic-map.svg" class="img-responsive" alt="Map Graphic">
            <p>Map the major narratives ISIS uses to draw people in and mobilize them to action.</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="content">
            <img src="img/graphic-survey.svg" class="img-responsive" alt="Youtube Survey Graphic">
            <p>Survey YouTube for existing videos that are effective at countering those narratives.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <p>The focus of the research was on seeking out videos that appeared to be neutral in intention--including documentaries or citizen journalist footage that portray the world as the creators found it, rather than materials that appear specifically designed to counter ISIS. To get there, we used keyword searches to identify “hidden” counter-argument content -- that is, videos that are not necessarily well known, and often that were not designed with the explicit intention of refuting ISIS</p>
            <p>We also found that video content featuring prominent individuals whose contributions deliberately contradict ISIS’s messaging were also helpful.</p>
            <iframe width="770" height="350" src="https://www.youtube.com/embed/LlG2cvdfZeE?list=PL0I4bTGBHIMeCcbUq1jit5wKFmU0BOGhh&showinfo=1" frameborder="0" allowfullscreen></iframe>
            <div id="recruitment">
              <h1>What did we learn?</h1>
              <p><em>We identified 5 ISIS recruitment narratives that are recurring in ISIS’s official media:</em></p>
              <div class="row">
                <div class="col-sm-2">
                  <img src="img/icon-governance.svg" class="img-responsive" alt="Governance Icon">
                </div>
                <div class="col-sm-10">
                  <div class="content">
                    <p><strong>&middot; Good Governance</strong> ISIS showcases not only its bureaucratic structure and provision of social services, but also its harsh implementation of sharia.</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">
                  <img src="img/icon-military.svg" class="img-responsive" alt="Military Icon">
                </div>
                <div class="col-sm-10">
                  <div class="content">
                    <p><strong>&middot; Military Might</strong> A narrative designed to display ISIS’s battlefield victories in order to portray it as an unstoppable force. The group depicts itself as possessing continuous momentum, and its message to its enemies is that they faced capture, torture, humiliation, and death.</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">
                  <img src="img/icon-religious.svg" class="img-responsive" alt="">
                </div>
                <div class="col-xs-10">
                  <div class="content">
                    <strong>&middot; Religious Legitimacy</strong> ISIS depicts its interpretation of Islam as the only authentic manifestation of the faith. ISIS argues that its alleged re-establishment of the caliphate made all competing states and organizations null and void under God’s law.
                  </div>
                </div>
              </div>  
              <div class="row">
                <div class="col-sm-2">
                  <img src="img/icon-flag.svg" class="img-responsive" alt="">
                </div>
                <div class="col-sm-10">
                  <div class="content">
                    <p><strong>&middot; Call to Jihad</strong> Emphasizes the individual duty to either emigrate to the “caliphate” or carry out local terrorist attacks in ISIS’s name. This messaging portrays ISIS fighters as heroes, their days as packed with action, camaraderie, and glory.</p>
                  </div>
                </div>
              </div>  
              <div class="row">
                <div class="col-sm-2">
                  <img src="img/icon-umma.svg" class="img-responsive" alt="">
                </div>
                <div class="col-sm-10">
                  <div class="content">
                    <p><strong>&middot; Victimhood of the Umma</strong> (The umma is the worldwide body of Muslims) This narrative depicts outside powers conspiring to harm, subjugate, and disempower Muslims throughout the globe.</p>
                  </div>
                </div>
              </div>
            </div>
            <p><em>Content that effectively undermines ISIS does not always overtly attack ISIS.</em></p>
            <p>We looked for voices that will convey a sense of credibility and authenticity to our target audience. We determined that, given our specific goals and audience in mind, four major categories of credible, authentic voices existed</p>
            <ul>
              <li>
                <strong>Citizen Journalism Videos</strong> News content created by members of the general population. This includes videos by those who reside in ISIS-controlled territory who document ISIS’s atrocities and failed governance efforts.
                <iframe width="770" height="350" src="https://www.youtube.com/embed/LlG2cvdfZeE?list=PL0I4bTGBHIMeCcbUq1jit5wKFmU0BOGhh" frameborder="0" allowfullscreen></iframe>
              </li>
              <li>
                <strong>Documentary Footage</strong> Content produced by documentarians and journalists. This material can, for example, highlight the poor quality of life in the caliphate, and draw attention to the group’s violence against civilians.
                <iframe width="770" height="350" src="https://www.youtube.com/embed/LlG2cvdfZeE?list=PL0I4bTGBHIMeCcbUq1jit5wKFmU0BOGhh" frameborder="0" allowfullscreen></iframe>
              </li>
              <li>
                <strong>Religious Debate</strong> Videos featuring clerics and other religious figures who refute violent extremist narratives, and seek to undercut ISIS’s religious legitimacy.
                <iframe width="770" height="350" src="https://www.youtube.com/embed/LlG2cvdfZeE?list=PL0I4bTGBHIMeCcbUq1jit5wKFmU0BOGhh" frameborder="0" allowfullscreen></iframe>
              </li>
              <li>
                <strong>ISIS Defectors</strong> Videos highlighting the testimonies of ISIS defectors whose actual experiences undercut ISIS’s recruitment narratives, and reveal the group’s shortcomings and hypocrisy.
                <iframe width="770" height="350" src="https://www.youtube.com/embed/LlG2cvdfZeE?list=PL0I4bTGBHIMeCcbUq1jit5wKFmU0BOGhh" frameborder="0" allowfullscreen></iframe>
              </li>
            </ul>
            <p><em>Campaigns to confront online extremism don’t necessitate new content creation.</em></p>
            <p>The best part of the research — beyond identifying ISIS’s recruiting narratives and the content categories most likely to debunk them — was that it surfaced hundreds of online videos already uploaded to YouTube, that would not be be rejected outright by our target audience.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="section-footer">
    <div class="container">
      <a href="#curation" class="next">Next: Curation</a>
    </div>
  </footer>
</div>