<div role="tabpanel" id="targeting" class="tab-pane fade">
  <header class="section-header">
    <button class="subnav-trigger">Menu</button>
    <div class="container">
      <h1><span class="circle-number">3</span>Targeting</h1>
    </div>
  </header>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content editable">
            <h2><em>How can we design ads and target keywords so that our campaign reaches individuals who are to some degree already sympathetic to ISIS?</em></h2>
            <h1>What did we do?</h1>
            <p>This campaign aimed to reach people who were already seeking out ISIS content online, and to engage them with ads that would not be rejected at face value. We needed to design compelling ads, pick the right set of keywords, and keep on refining the campaign as we learned more. For the English Pilot, we created 30 advertising campaigns, with 95 unique ads and over a 1,000 keywords. The Arabic Pilot comprised 60 advertising campaigns targeting Arabic, 150 unique ads and over 1,500 keywords.</p>
            <iframe width="770" height="350" src="https://www.youtube.com/embed/LlG2cvdfZeE?list=PL0I4bTGBHIMeCcbUq1jit5wKFmU0BOGhh" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="content editable">
            <h2>How did we design the ads?</h2>
            <p>Moonshot CVE and Quantum Communications created an AdWords advertising account in English and Arabic to house our ads and targeting criteria. The objective with the ad design was to anticipate and reflect the interests of the target audience. The ad campaign comprised three formats:</p>
            <ul>
              <li>Text Ads <span class="info" data-toggle="tooltip" title="The standard type of AdWords ad. A text ad includes a link to your website and a description or promotion of your product or service. Text ads include a title that's also a clickable link to your webpage, one or two lines of text."></span></li>
              <li>Image Ads <span class="info" data-toggle="tooltip" title="These ads let you include relevant images, customized layouts, and background colors."></span></li>
              <li>Video Ads <span class="info" data-toggle="tooltip" title="Skippable video ads allow viewers to skip ads after 5 seconds, if they choose. Inserted before, during, or after the main video."></span></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="content editable">
            <img src="img/ads.jpg" class="img-responsive">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="content editable">
            <h2>How did we develop the keywords?</h2>
            <p>Former violent extremists helped us identify relevant language and search terms, researchers surfaced latest trends, and online advertising specialists. The selection process prioritized the terms likely to be used by individuals with positive sentiments towards ISIS, or who seek content that is free of prejudice against ISIS Instead of using terms in a phrase that would be shunned by ISIS supporters, such as “DAESH” or ‘ISIL’, use ‘Islamic State’, ‘The Caliphate’, or ‘Al Dawlah,’
            Specific ISIS-generated content, such as “Latest Adnani Video,” vs. generic current events search terms, such as “ISIS News,” Media sources with formal ties to ISIS e.g.Al-Furqan, Al-I'tisam, Al-Hayat, and Ajnad. Keywords were relevant to the content in our playlists. Our keyword creation work-stream combined qualitative human input with AdWords automated tools. The Keyword Planner tool was used to expand seed keyword lists, by allowing it to suggest relevant synonyms, variations, and additional keywords from the same cohort. Consider that the seed keyword “Al Furqan Foundation” led to suggestions like “Furqan Media Agency”, and “Al Itisam Media.</p>
            <h2>How did we evolve during the campaign?</h2>
            <p>Targeting was improved by prioritizing keywords that indicated a nuanced understanding of ISIS narratives.</p>
            <p>For example, the phrase “What is jihad?” was supplemented with phrases such as “Fatwa for jihad in Syria” and “Al Maqdisi Jihad Fatwa.” Additions to the keyword lists reflected new developments in the conflict surrounding ISIS</p>
            <p>Example- “Amaq News” was included as a keyword in March, 2016, when ISIS used the outlet to claim responsibility for the Brussels attacks. The keyword lists also changed in response to changes in the video playlists’ composition, and according to real life events.</p>
            <img id="infographic" src="img/infographic-keyword.svg" class="img-responsive" alt="">
            <h1>What did we learn?</h1>
            <p>Online advertising tools are designed to help reach a precise audience — we were able to target individuals who seem to have with some degree of sympathy for ISIS by identifying hundreds of keywords indicating a nuanced understanding of ISIS narratives. The ads for this Pilot were clicked on at very high rates</p>
            <p>During the pilot, some third parties responded to the “look and feel” of our advertisements with concerns that they could be in fact supporting ISIS. Once this concern was raised, we restricted the platforms for Pilot ads to Google and YouTube.</p>
            <p>We recommend to ensure that all parties that will be exposed to this effort in either a direct or an indirect way (former violent extremists, content creators, playlist aggregators, websites that might be exposed to the ads) have an opportunity to discuss the project and opt-out of participating in the campaign</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="section-footer">
    <div class="container">
      <a href="#measurement" class="next">Next: Measurement</a>
    </div>
  </footer>
</div>