/* Website Styles */
@import '_variables';

body {
  font-family: $font-family-sans-serif;
}

#page-header {
  background-color: $gray-dark;
  background-image: url(../img/header-noise.png);
  background-position-y: -50px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 1px 3px 15px rgba(0,0,0,.5); 
}

#mainnav {
  padding-top: 70px;
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    li {
      height: 60px;
      line-height: 60px;
      margin: auto;
      &.active {
        &:after {
          content: '';
          display: block;
          position: relative;
          width: 100px;
          height: 8px;
          top: -8px;
          background-color: #f37046;
        }
        a {
          color: $brand-primary;
        }
      }
      a {
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        text-decoration: none;
        &:hover {
          color: $brand-primary;
        }
        &:hover, &:active, &:visited, &:focus {
          background: transparent;
          text-decoration: none;
        }
      }
    }
  }
  .icon-bar {
    background-color: #fff;
  }
}

// general classes
.arrow-down {
  display:inline-block;
  background: $brand-primary;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 10px;
  position: absolute;
  top: 0;
  left: 0;
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid #fff;
    position: absolute;
    top: 5px;
    left: 4px;
  }
}

.arrow-right {
  display:inline-block;
  background: $brand-primary;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 10px;
  position: absolute;
  top: 0;
  left: 0;
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 7px solid #fff;
    position: absolute;
    top: 4px;
    left: 6px;
  }
}

//gitbook style overwrites
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 15px 40px 15px;
}

.book-header-intro {
  background: $gray-light;
  h1 {
    font-weight: 400;
    color: $gray;
    font-size: 40px;
    margin: 0;
  }
  h4 {
    font-size: 16px;
    font-weight: 400;
    color: $black;
    margin: 5px 0 10px 0;
  }
  a {
    color:$gray-mid;
    position: relative;
    display: inline-block;
    padding-left: 20px;
    &:nth-of-type(2) {
      margin-left: 20px;
    }
  }
}

.book {
  &.font-family-1 {
    font-family: $font-family-sans-serif;
  }
}
.markdown-section {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
  }
  h1 { font-size: 35px; color: $brand-primary;}
  h2 { font-size: 21px;}
  h3 { font-size: 18px;}
  h4 { font-size: 16px;}
  h5 { font-size: $font-size-base;}
  h6 { font-size: 13px;}
}

#book-search-input {
  background: $gray-dark;
}
.book-summary {
  background: $gray-dark;
  font-family: $font-family-sans-serif;
  ul {
    &.summary {
      li {
        position: relative;
        &.active {
          &:before {
            content: '';
            display: block;
            height: 100%;
            width: 10px;
            background-color: $brand-primary;
            position: absolute;
            top: 0;
            left: 0;
          }
          a {
            color: $brand-primary;
          }
        }
        &.divider {
          display: none;
        }
        a, span {
          padding: 8px 0 8px 40px;
          color: #fff;
          font-size: 22px;
          &.gitbook-link {
            font-size: 10px;
          }
        }
      }
    }
  }
}

