---
layout: default
---
<section id="intro" class="intro-blueprint">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="content">
          <img id="logo" src="{{ site.baseurl }}/img/logo-wordmark.svg" class="img-responsive center-block" />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="editable">
          <h1>Replicate our process step by step with our blueprint.</h1>
          <p class='editable'>
            We’re hoping this document will give other interested in replicating the experiment an idea of what to expect in terms of planning, timeline, skills and resources. We’re also hoping others will “fork” and modify this set of instructions to add better, more effective steps and tips, or to adapt them to specific contexts.
          </p>
          <p>
            <a href="{{ site.baseurl }}/downloads/TheRedirectMethod-Blueprint_PDF.pdf" class="btn btn-primary" download>Download the Blueprint</a>
            <a href="{{ site.gitbook_url }}" target="_blank" class="btn gray-dark">View on Gitbook</a>
          </p>
        </div>
      </div>
    </div>
  </div> 
</section>
<div id="blueprint" class="sidebar-layout">
  <nav id="sidebar" class="left-column">
    <ul class="sidenav nav">
      <li class="active"><a href="#campaign-preparation">Preparation</a></li>
      <li><a href="#campaign-management">Management</a></li>
      <li><a href="#post-campaign">Post-Campaign</a></li>
    </ul>
  </nav>
  <div class="right-column">
    <header class="gray-light">
      <div class="content">
        <h1>The Redirect Method Blueprint</h1>
        <h4>Our step-by-step set of instructions and tips for replicating the Redirect Method</h4>
        <a href="{{ site.baseurl }}/downloads/TheRedirectMethod-Blueprint_PDF.pdf" download><span class="arrow-down"></span>Download The Redirect Method Blueprint PDF</a>
        <a href="{{ site.gitbook_url }}" target="_blank"><span class="arrow-right"></span>View on Gitbook</a>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
           <div class="content">
            {{ content }}
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include engage.html %}