---
layout: default
---

<section id="intro" class="intro-pilot">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="content">
          <img id="logo" src="{{ site.baseurl }}/img/logo-wordmark.svg" class="img-responsive center-block" />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="editable">
          <h1>The pilot experiment that started it all.</h1>
          <p class='editable'>
            We tested the Redirect Method in an ISIS-focused campaign in Arabic and English. Over the course of 8 weeks, these two campaigns using 116 YouTube videos reached an estimated 320,000 people searching for ISIS and extremism-related terms. The Redirect Method is open for any institution to use in their work - Read on to learn about how we’ve used it in this campaign.
          </p>
        </div>
      </div>
    </div>
  </div> 
</section>
<div id="pilot-presentation" class="pilot-layout">
  <nav class="left-column">
    {% include sidenav.html %}
  </nav>
  <div class="right-column">
    {{ content }}
  </div>
</div>
