
.arrow-down {
  display:inline-block;
  background: $brand-primary;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  top: 0;
  left: 0;
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid #fff;
    position: absolute;
    top: 5px;
    left: 4px;
  }
}

.arrow-right {
  display:inline-block;
  background: $brand-primary;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 30px;
  position: relative;
  top: 0;
  left: 0;
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 7px solid #fff;
    position: absolute;
    top: 4px;
    left: 6px;
  }
}


#blueprint {
  counter-reset: step-counter;
  h2 {
    color: $orange;
    margin-bottom: 10px;
  }
  ol {
    padding-left: 80px;
    list-style-type: none;
    >li {
      position: relative;
      counter-increment: step-counter;
      h2 {
        margin: 30px 0 30px -80px;
      }
      h3 {
        font-style: italic;
        font-size: 20px;
        padding-top: 4px;
      }
      &:before {
        content: 'STEP ' counter(step-counter);
        position: absolute;
        left: -80px;
        top: 0;
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
}

