/* -----------------------------------------
Media Queries
----------------------------------------- */
@media(min-width: 1700px) {
  #intro {
    &.intro-home {
      
    }
    &.intro-pilot {
      background-position-y: -300px;
    }
    &.intro-qa {
    }
    &.intro-blueprint {
    }
  }
}
@media(max-width: 992px) {
  .sidebar-layout {
    .left-column {
      width: 225px;
      padding: 50px 0;
      left: -225px;
      top: 158px;
      margin-left: 0;
      transition: all .5s ease;
      z-index: 10;
      &.open {
        left: 0;
      }
    }

    .right-column {
      margin: 0;
      transition: all .5s ease;
      .container {
        margin: 0;
      }
    }
  }

  .section-header {
    position:relative;
    h1 {
      padding: 60px 0 60px 100px;
    }
  }

  .subnav-trigger {
    display: block;
  }
  #blueprint {
    .btn {
      font-size: 15px;
    }
  }
  #intro {
    &.intro-blueprint {
      .btn {
        font-size: 16px;
      }
    }
  }
} 

@media(max-width: 768px) {
  h1 {
    font-size: 25px;
  }
  #mainnav {
    padding-top: 28px;
    .flexnav {
      display: block;
      li {
        &.active {
          &:after {
            display: none;
          }
        }
      }
    }
  }
  #footer-bar {
    margin-top: 20px;
    padding-bottom: 20px;
    font-weight: 300;
    .col-sm-4 {
      &:nth-of-type(2) {
        text-align: left;
      }
    }
    .content {
      padding: 15px 20px;
    }
  }
  #top {
    float: left;
  }
  #recruitment {
    img {
      max-width: 320px;
      margin: 0 auto;
    }
  }
}