/* -----------------------------------------
Media Queries
----------------------------------------- */
@media(min-width: 992px) {
  .left-column {
    width: 225px;
  }
  .right-column {
    width: calc(100% - 225px);
    .container {
      width: 730px;
    }
  }
  #blueprint {
    img {
      float: right;
    }
  }
}

@media(min-width: 1200px) {
  .left-column {
    width: 30%;
    float: left;
    background-color: $gray-dark;
    height: 100%;
    padding: 50px 0;
  }
  .right-column {
    width: 70%;
    float: left;
    background-color: #fff;
    .container {
      width:810px;
      margin-right: auto;
      margin-left: 20px;
    }
  }
}


@media(max-width: 992px) {
  .left-column {
    width: 225px;
    float: none;
    background-color: $gray-dark;
    height: 100%;
    padding: 50px 0;
    position: absolute;
    left: -225px;
    top: 158px;
    transition: all .5s ease;
    z-index: 10;
    &.open {
      left: 0;
    }
  }

  .right-column {
    width: 100%;
    float: left;
    background-color: #fff;
    transition: all .5s ease;
  }

  .section-header {
    position:relative;
    h1 {
      padding: 60px 0 60px 100px;
    }
  }

  .subnav-trigger {
    display: block;
  }
  #blueprint {
    .btn {
      font-size: 15px;
    }
  }
  #intro {
    &.intro-blueprint {
      .btn {
        font-size: 16px;
      }
    }
  }
} 

@media(max-width: 768px) {
  h1 {
    font-size: 25px;
  }
  #mainnav {
    padding-top: 28px;
    .flexnav {
      display: block;
      li {
        &.active {
          &:after {
            display: none;
          }
        }
      }
    }
  }
  #footer-bar {
    margin-top: 20px;
    padding-bottom: 20px;
    font-weight: 300;
    .col-sm-4 {
      &:nth-of-type(2) {
        text-align: left;
      }
    }
    .content {
      padding: 15px 20px;
    }
  }
  #top {
    float: left;
  }
  #recruitment {
    img {
      max-width: 320px;
      margin: 0 auto;
    }
  }
}