.mosaic-wrapper {
  position: relative;
  height: 295px;
  width: 295px;
  max-width: 100%;
  background-image: url(../img/text_ads.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px 0;
  img {
    position: absolute;
    top:0;
    left:0;
    max-width: 50%;
    &.video {
      position: relative;
      top: 100%;
      width: 100%;
      max-width: 100%;
      margin-top: 20px;
    }
  }
}

.scroll-animate {
  img {
    opacity: 0;
    &.animate {
      @for $i from 1 through 20 {
        &:nth-child(#{$i}) { 
          @include animation(fadeIn, 0.5s, 1s * $i);
        }
      }
    }
  }
}