.mosaic-wrapper {
  position: relative;
  height: 800px;
  width: 400px;
  max-width: 100%;
  background-image: url(../img/text_ads.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  // background-size: cover;
  margin: 20px 0;
  img {
    position: absolute;
    top:0;
    left:0;
    max-width: 66%;
    &.video {
      position: absolute;
      top: auto;
      bottom: -10px;
      width: 100%;
      max-width: 100%;
    }
  }
}

.scroll-animate {
  img {
    opacity: 0;
    &.animate {
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) { 
          @include animation(fadeIn, 1s, 1.5s * $i);
        }
      }
    }
  }
}