#mainnav {
  padding-top: 50px;
  .flexnav {
    width: 100%;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    @include transition(2s);
    li {
      height: 70px;
      line-height: 70px;
      position: relative;
      border-bottom: 8px solid transparent;
      &.active {
        border-bottom: 8px solid $orange;
        a {
          color: #fff;
        }
      }
      a {
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        text-decoration: none;
        &:hover {
          color: $brand-primary;
        }
        &:hover, &:active, &:visited, &:focus {
          background: transparent;
          text-decoration: none;
        }
      }
    }
  }
  .icon-bar {
    background-color: #fff;
  }
}

#top {
  position: relative;
  color: #fff;
  padding-right: 20px;
  display: block;
  float: right;
  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 3px;
    display: block;
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 12px solid $brand-primary;
  }
}
#downloadnav {
  position: absolute;
  width: 100%;
  padding: 5px;
  text-align: center;
  background-color: $orange;
  color: #fff;
  a {
    color: #fff;
  }
}