/* -----------------------------------------
   Variables
----------------------------------------- */

// Color palette

$gray:        #4e4e4e;
$gray-light:  #e0e1e1;
$gray-lighter:#eeeeee;
$gray-dark:   #434343;
$gray-darker: #282828;
$orange:      #f37046;

$brand-primary: $orange;

$text-color:    $gray;

$font-size-base:          16px;
$font-family-sans-serif:  'Source Sans Pro', sans-serif;
$headings-font-family:    'Source Sans Pro', sans-serif;
$headings-font-weight:    400;
$headings-color:          $gray;

$font-size-h1:            35px;
$font-size-h2:            21px;
$font-size-h3:            18px;
$font-size-h4:            16px;
$font-size-h5:            $font-size-base;
$font-size-h6:            13px;

$btn-font-weight:         400;
$btn-default-color:       #fff;
$padding-base-vertical:   10px;
$padding-base-horizontal: 35px;
$border-radius-base:      0;