/* Website Styles */
@import '_variables';

body {
  font-family: $font-family-sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
h1 { font-size: 35px;}
h2 { font-size: 21px;}
h3 { font-size: 18px;}
h4 { font-size: 16px;}
h5 { font-size: $font-size-base;}
h6 { font-size: 13px;}

#page-header {
  background-color: $gray-dark;
  background-image: url(img/header-noise.png);
  background-position-y: -50px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 1px 3px 15px rgba(0,0,0,.5); 
}

#mainnav {
  padding-top: 70px;
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    li {
      height: 60px;
      line-height: 60px;
      margin: auto;
      &.active {
        &:after {
          content: '';
          display: block;
          position: relative;
          width: 100px;
          height: 8px;
          top: -8px;
          background-color: #f37046;
        }
        a {
          color: $brand-primary;
        }
      }
      a {
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        text-decoration: none;
        &:hover {
          color: $brand-primary;
        }
        &:hover, &:active, &:visited, &:focus {
          background: transparent;
          text-decoration: none;
        }
      }
    }
  }
  .icon-bar {
    background-color: #fff;
  }
}

#banner {
  background-image: url(img/mideast_mountains_blueprintpage.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 450px;
  padding: 50px 0;
  clear: both;
  .container {
    max-width: 1170px;
  }
  .banner-col {
    width: 50%;
    float: left;
    padding: 20px;
  }
  .brand {
    max-width: 275px;
    display: block;
    margin: 20px auto 0 auto;
  }
  h1 {
    color: $gray;
  }
}

// general classes




.arrow-down {
  display:inline-block;
  background: $brand-primary;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 10px;
  position: absolute;
  top: 0;
  left: 0;
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid #fff;
    position: absolute;
    top: 5px;
    left: 4px;
  }
}

.arrow-right {
  display:inline-block;
  background: $brand-primary;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 10px;
  position: absolute;
  top: 0;
  left: 0;
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 7px solid #fff;
    position: absolute;
    top: 4px;
    left: 6px;
  }
}

//gitbook style overwrites
.navigation {
  display: none;
}

.body-inner {
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 15px 40px 15px;
  }
}

.book-header-intro {
  background: $gray-light;
  h1 {
    font-weight: 400;
    color: $gray;
    font-size: 40px;
    margin: 0;
  }
  h4 {
    font-size: 16px;
    font-weight: 400;
    color: $black;
    margin: 5px 0 10px 0;
  }
  a {
    color:$gray-mid;
    position: relative;
    display: inline-block;
    padding-left: 20px;
    &:nth-of-type(2) {
      margin-left: 20px;
    }
  }
}

.book-header {
  position: relative;
  z-index: 20;
}

.book {
  &.font-family-1 {
    font-family: $font-family-sans-serif;
  }
}
.markdown-section {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
  }
  h1 { font-size: 35px;}
  h2 { font-size: 21px;}
  h3 { font-size: 18px;}
  h4 { font-size: 16px;}
  h5 { font-size: $font-size-base;}
  h6 { font-size: 13px;}

  ol {
    padding-left: 80px;
    list-style-type: none;
    >li {
      position: relative;
      counter-increment: step-counter;
      h2 {
        margin: 30px 0 30px -80px;
      }
      h3 {
        font-style: italic;
        font-size: 20px;
        margin-bottom: 0;
      }
      &:before {
        content: 'STEP ' counter(step-counter);
        position: absolute;
        left: -80px;
        top: 0;
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
}

.page-wrapper {
  h2 {
    color: $brand-primary;
  }
  em {
    font-size: 19px
  }
}

#book-search-input {
  background: $gray-dark;
  color: #fff;
}
.book-summary {
  background: $gray-dark;
  font-family: $font-family-sans-serif;
  ul {
    &.summary {
      li {
        position: relative;
        &.active {
          &:before {
            content: '';
            display: block;
            height: 100%;
            width: 10px;
            background-color: $brand-primary;
            position: absolute;
            top: 0;
            left: 0;
          }
          a {
            color: $brand-primary;
          }
        }
        &.divider {
          display: none;
        }
        a, span {
          padding: 8px 0 8px 40px;
          color: #fff;
          font-size: 22px;
          &.gitbook-link {
            display: none;
          }
        }
      }
    }
  }
}

// Media Queries
@media(max-width: 768px) {
  #banner {
    .banner-col {
      width: 100%;
      float: none;
    }
  }
}