---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---
@import '_variables';
@import '_mixins';

@import '_animate';
@import '_backgrounds';

@import '_navigation';

@import '_slider';
@import '_mosaic-animation';

@import '_blueprint';

@import "bootstrap";



/* -----------------------------------------
Global
----------------------------------------- */
body {
  font-weight: 300;
}

a {
  &:hover, &:focus, &:active {
    outline: none;
    text-decoration: none;
  }
}

section {
  padding: 50px 0;
  &.gray-light, &.gray-dark, &.gray-lighter {
    box-shadow: 1px 3px 15px rgba(0,0,0,.5); 
    position: relative;
  }
  &:first-child {
    padding-top: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  em {
    color: $orange;
    font-style: normal;
  }
}

p  {
  line-height: 1.5;
  margin-bottom: 20px;
  a {
    text-decoration: underline;
    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }
}

button {
  &:focus, &:active {
    outline: none;
  }
}
/* -----------------------------------------
DOM
----------------------------------------- */

// Structure
#page-header {
  background-color: $gray-dark;
  background-image: url(../img/header-noise.png);
  background-position-y: -50px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 1px 3px 15px rgba(0,0,0,.5); 
}

#page-content {}

#page-footer {
  padding-top: 30px;
  background-color: $gray-darker;
  color: #fff;
  .container {
    position: relative;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      &:first-child {
        a {
          color: $gray-lighter;
          border-bottom: 2px solid #fff;
          line-height: 2;
          padding-bottom: 2px;
        }
      }
      a {
        color: $gray-mid;
      }
    }
  }
}

#footer-bar {
  margin-top: 30px;
  font-weight: 300;
  .col-sm-4 {
    &:nth-of-type(2) {
      text-align: center;
    }
  }
}



#intro {
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  min-height: 375px;
  padding: 30px 0;
  &.intro-home {
    background-image: url(../img/backgrounds/bg-intro.png);
  }
  &.intro-pilot {
    background-image: url(../img/backgrounds/bg-pilot.png);
  }
  &.intro-qa {
    background-image: url(../img/backgrounds/bg-qa.png);
  }
  &.intro-blueprint {
    background-image: url(../img/backgrounds/bg-blueprint.png);
    .btn {
      font-size: 16px;
    }
  }
}

#logo {
  max-width: 275px;
  margin-top: 20px;
}


/* -----------------------------------------
bootstrap overwrites
----------------------------------------- */
 .btn {
  font-size: 18px;
  margin-bottom: 20px;
  &.gray-dark {
    &:hover {
      background-color: $gray-darker;
    }
  }
 }

 .navbar-collapse {
  transition: all .5s ease;
 }
 
.tooltip-inner {
  max-width: 300px;
  width:300px;
  padding: 25px;
  text-align: left;
  background-color: $gray-dark;
}

.btn {
  text-decoration: none;
}

/* -----------------------------------------
Utility Classes
----------------------------------------- */
.flexnav {
  display: flex;
  flex-flow: flex-start;
  justify-content: space-between;
}

.content {
  padding: 20px;
}

.section-header {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 60px 0;
  }
  h1 {
    font-size: 35px;
  }
  .container {
    position: relative;
  }
}

.section-footer {
  padding: 60px 0;
  font-size: 30px;
  background-color: $brand-primary;
  .next {
    float: right;
    color: #fff;
  }
}

.next {
  padding-right: 60px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: -3px;
    display: block;
    width: 0; 
    height: 0; 
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 35px solid #fff;
  }
}

.circle-number {
  color: $text-color;
  position: relative;
  z-index: 1;
  padding: 0 35px 0 19px;
  color: #fff;
  &:before {
    content: '';
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: $brand-primary;
    background-image: url(../img/backgrounds/bg-number.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -1px;
    left: 2px;
    z-index: -1;
  }
}


.pilot-layout, .sidebar-layout {
  @extend .row;
  position: relative;
  background-color: $gray-dark;
  margin-left: 0;
  margin-right: 0;
  .left-column {
    position: absolute;
    height: 100%;
    padding: 50px 0;
    margin: 0;
    margin-left: calc(100vw * 0.3 - 250px);
    background-color: $gray-dark;
    .sidenav {
      list-style-type: none;
      padding-left: 0;
      margin-right: 20px;
      margin-left: auto;
      width: 250px;
      li {
        padding: 8px 0 8px 40px;
        position: relative;
        &.active {
          &:before {
            content: '';
            display: block;
            height: 100%;
            width: 10px;
            background-color: $brand-primary;
            position: absolute;
            top: 0;
            left: 0;
          }
          a {
            color: $brand-primary;
          }
        }
        a {
          color: #fff;
          font-size: 23px;
          text-decoration: none;
          &:focus, &:active, &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  .right-column {
    margin-left: 30%;
    background-image: url(../img/halftone_background_doublecolumn.png);
    background-size: contain;
    background-color: #fff;
    .container {
      max-width: 900px;
      width: auto;
      margin: 0 auto 0 40px;
    }
    header {
      background-color: rgba(238,238,238,.65);
    }
    img {
      padding-bottom: 25px;
    }
    iframe {
      max-width: 100%;
    }
    strong {
      letter-spacing: 1px;
    }
    li {
      margin: 7px 0;
    }
    em {
      font-size: 22px;
    }
  }
}




.subnav-trigger {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  background-color: $gray-dark;
  color: $gray-light;
  width: 90px;
  height: 100%;
  padding-top:40px;
  z-index: 10;
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -25px;
    margin-left: -10px;
    display: block;
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid #fff;
  }
}

.download {
  padding-left: 30px;
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    left: 0;
    width: 22px;
    height: 22px;
    background-image: url(../img/download.png);
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.info {
  display: inline-block;
  background-color: $brand-primary;
  width:15px;
  height: 15px;
  margin: 1px 3px 0 2px;
  border-radius: 50%;
  position: relative;
  &:before {
    content: 'i';
    position: absolute;
    top: 1px;
    left: 50%;
    margin-left: -1px;
    color: #fff;
    font-size: 10px;
  }
}


/* -----------------------------------------
Page specific
----------------------------------------- */


//Pilot page
// - research section
#recruitment {
  img {
    margin: 20px 0;
    padding-bottom: 0;
  }
}
// - curation section
#channels {
  background-image: url(../img/halftone_background_doublecolumn.png);
  background-size: contain;
  background-color: $gray-lighter;
  box-shadow: none;
  h1 {
    margin-top: 0;
  }
  img {
    padding-bottom: 0;
    padding-top: 20px;
  }
}
// - targeting section
#targeting {
  h2 {
    font-size: 26px;
  }
  #infographic {
    padding-top:30px;
  }
}

#video-ads {
  display: none;
  transition: all 1s ease-in-out;
  margin-top: 20px;
  &.in-view {
    display: block;
    animation-duration: 2s;
    animation-delay:7s;
  }
}

// - results section
#campaign-engagement {
  padding-top: 30px;
}


#engage {
  background-image: url(../img/backgrounds/bg-constellation.png);
  background-position-y: -15px;
  background-repeat: no-repeat;
  background-size: contain;
}

@import "media-queries";