---
layout: default
---

<section id="intro" class="intro-pilot">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="content">
          <img id="logo" src="/img/logo-wordmark.svg" class="img-responsive center-block">
        </div>
      </div>
      <div class="col-sm-6">
        <h1>The pilot experiment that started it all.</h1>
        <p>User: Ayda is a pilot experiment we conducted between August 2015 and March 2016 to test a new approach to tackling violent extremism recruitment efforts online. The project relied on two advertising campaigns of 5 YouTube playlist each: the English campaign featured 51 videos, and the Arabic campaign # videos. Over the course of 8 weeks, together these two campaigns reached an estimate of 440,000 unique individuals.</p>
      </div>
    </div>
  </div> 
</section>
<div id="pilot-presentation" class="pilot-layout">
  <nav class="left-column">
    {% include sidenav.html %}
  </nav>
  <div class="right-column">
    {{ content }}
  </div>
</div>

<script>

  function scrollTo(value) {
    $('html, body').animate({scrollTop: value}, "slow");
  }

  function activateTab(hash) {
    var target = $(hash).offset().top;

    $('.sidenav a').each(function(){
      var href = $(this).attr('href');
      if(href == hash){
        target = $('#pilot-presentation').offset().top;
        $(this).tab('show');
      }
    });

    scrollTo(target);
  }

  $(document).on('ready', function(){
    activateTab(window.location.hash);

    $('.sidenav').stickit({
      screenMinWidth: 992,
      scope: StickScope.Document,
      top: 40
    });

    $('.subnav-trigger').on('click', function(){
      $('.left-column').toggleClass('open');
    });

    $('.sidenav a', '.next').on('click', function (e) {
      e.preventDefault();
      var l = window.location.pathname + $(this)[0].hash.substr(1);
      window.history.pushState('', '{{ site.title }}: ', l);
    })

    // check if sidenav is open on mobile, if it is, close it on click
    $('.sidenav a').on('shown.bs.tab', function (e) {
      // close mobile menu
      $('.left-column').removeClass('open');
    });

    window.addEventListener("hashchange", function(e) {
      activateTab(window.location.hash);
    })

    // scroll trigger for animation
    var $animation = $('#mosaic-wrapper');
    var $window = $(window);
    $window.on('scroll resize', check_if_in_view);
    $window.trigger('scroll');
    
    function check_if_in_view() {
      var window_height = $window.height();
      var window_top_position = $window.scrollTop();
      var window_bottom_position = (window_top_position + window_height);

      $.each($animation, function() {
        var $element = $(this);
        var element_height = $element.outerHeight();
        var element_top_position = $element.offset().top;
        var element_bottom_position = (element_top_position + element_height);

        //check to see if this current container is within viewport
        if ((element_bottom_position >= window_top_position) &&
            (element_top_position <= window_bottom_position)) {
          $element.addClass('in-view');
          $('#video-ads').addClass('in-view animated fadeIn');
          $('#mosaic-wrapper.in-view img').each(function(){
            var order = $(this).data('order');
            var vertPos = $(this).data('vert');
            var horizPos = $(this).data('horz');
            var animationDelay = order + 0.5 + 's';
            $(this).removeClass('start').addClass('fadeIn');
            $(this).css({'top' : vertPos, 'left' : horizPos, 'animation-delay' : animationDelay, 'z-index' : order });
          });
        } else {
          $element.removeClass('in-view');
          $('#mosaic-wrapper img').removeClass('fadeIn').addClass('start');
          $('#video-ads').removeClass('in-view animated fadeIn');
        }
      });
    }
  });
</script>
